* {
  margin: 0;
}

body {
  font-family: Impact, sans-serif;
  background: url(images/tiger-king-background.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  height: 70px;
  background-color: black;
}

#text {
  text-align: center;
  font-size: 30px;
  color: red;
  padding: 15px 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  height: 440px;
  margin: 0 auto;
}

.box {
  width: 330px;
  margin: 20px auto;
}

h3 {
  margin-left: 5px;
}

#alert-text {
  text-align: center;
  padding: 30px 0;
}

img {
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 430px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    height: 330px;
    width: 440px;
    margin: 0 auto;
  }

  .box {
    width: 440px;
    margin: 20px auto;
  }

  #text {
    text-align: center;
    font-size: 30px;
    color: red;
    padding: 15px 0;
  }
}
